/*classi generiche*/

*{  /*css reset*/
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.clearfix{
    content:"";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.btn{   /*senza creare un button e per ogni button andare a modificare il css creo questa classe di utilità*/
    padding:1% 2%;
    background-color: white;
    border-radius: 40%;
    color:black;
    text-decoration: none;
}

/*/classi generiche*/
body{
    font-family: sans-serif;
}

.container{
    max-width: 1200px;
    margin:0 auto;
}
/*header*/
header{
    background-color: #3161e0;
}

.debug .header{
    height: 500px;
}

.top-header{
    padding-top: 30px;
}

.top-header img{
   display:inline-block;
   vertical-align: middle;
}

.top-header li {
    display: inline-block;
    list-style-type: none;
}

.top-header li a{
    color:white;
    text-decoration: none;
    margin: 0px 50px;
}

.top-header li a:hover{
    text-decoration: underline; /*solo quando passo sopra i link compare la sottolineatura*/
}

.top-header .btn:hover{
    color:blue;
    text-decoration: underline;
}

.bottom-header{
    background-image: url(img/jumbo.png);
    background-size: cover; /*così da riempire tutto lo spazio*/
    text-align: center;
    color:white;
    position: relative;
}

.debug .bottom-header{
    height:500px;   /*per evitare che collassi*/
}

.content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.bottom-header h1, .bottom-header p{
    margin-bottom: 5%;
}

.btn-destra{
    background-color: black;
    color:white;
    margin-left: 15%;
    border-radius: 50%;
}
/*/header*/

/*jumbotron*/
.spazio-per-parlare{
    margin-top: 10%;
    padding-top:40% 20%;
}

.spazio-per-parlare .testo{
    width:25%;
    margin-top:4%;
}

.spazio-per-parlare .testo p{
    margin-top:5%;
}
/*/jumbotron*/
/*trovarsi-facile*/
.trovarsi-facile{
    margin-top:10%;
}

.trovarsi-facile .testo{
    width: 25%;
}

.trovarsi-facile h1{
    margin-bottom: 5%;
}
/*/trovarsi-facile*/
/*fandom*/
.fandom{
    margin-top:10%;
}

.fandom .testo{
    width:25%;
}
/*/fandom*/
/*tecnologia*/
.tecnologia{
    position: relative;
    margin-top:400px ;
    padding:100px;
}

.tecnologia .content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.tecnologia .btn{
    background-color: rgb(9, 141, 194);
    color:white;
    margin-top:5%;
    margin-left: 50%;
}
/*/tecnologia*/





