/*classi generiche*/

*{  /*css reset*/
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.clearfix{
    content:"";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

/*classi di utilità*/
body{
    font-family: sans-serif;
}

.container{
    max-width: 1200px;
    margin:0 auto;
}

header{
    background-color: #3161e0;
}

.debug .header{
    height: 500px;
}

.top-header{
    height: 80px;
    padding-top: 30px;
}

.top-header img{
   display:inline-block;
   vertical-align: middle;
}

.top-header nav{
    display: inline-block;
    
}

.top-header li {
    display: inline-block;
    list-style-type: none;
}

.top-header li a{
    color:white;
    text-decoration: none;
    margin: 0px 50px;
}

.top-header li a:hover{
    text-decoration: underline; /*solo quando passo sopra i link compare la sottolineatura*/
}

.btn{   /*senza creare un button e per ogni button andare a modificare il css creo questa classe di utilità*/
    width: 70px;
    padding:10px;
    background-color: white;
    border-radius: 40%;
    color:black;
    text-decoration: none;
}

.top-header .btn{

}

.top-header .btn:hover{
    color:blue;
    text-decoration: underline;
}

.bottom-header{
    background-image: url(img/jumbo.png);
    background-size: cover; /*così da riempire tutto lo spazio*/
    text-align: center;
    color:white;
    position: relative;
}

.debug .bottom-header{
    height:500px;   /*per evitare che collassi*/
}

.content{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.content h1{
    margin-bottom:40px;
}

.content p{
    margin-bottom: 20px;
}

.btn-destra{
    background-color: black;
    color:white;
    margin-left: 20px;
}




