/*classi generiche*/

*{  /*css reset*/
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.clearfix{
    content:"";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

/*classi di utilità*/
body{
    font-family: sans-serif;
}

.container{
    max-width: 1200px;
    margin:0 auto;
}

header{
    background-color: #3161e0;
}

.debug .header{
    height: 500px;
}

.top-header{
    height: 80px;
    line-height: 80px;
}

img{
    vertical-align: middle;
}

.top-header nav{
    vertical-align:middle;
    display: inline-block;
}

.top-header li {
    display: inline-block;
    list-style-type: none;
}

.top-header li a{
    color:white;
    text-decoration: none;
    margin: 0px 50px;
}

.top-header li a:hover{
    text-decoration: underline; /*solo quando passo sopra i link compare la sottolineatura*/
}

.btn{
    width: 50px;
    background-color: white;
    border-radius: 20%;
    color:black;
    text-decoration: none;
}

.btn:hover{
    color:blue;
    text-decoration: underline;
}

.bottom-header{
    background-image: url(img/jumbo.png);
    background-size: cover; /*così da riempire tutto lo spazio*/
    text-align: center;
    color:white;
    position: relative;
}

.debug .bottom-header{
    height:500px;   /*per evitare che collassi*/
}

.content{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


